body {
    background-color: #F6F6F6;
}

.btn-primary {
    background-color: #07204D!important;
    border-color: #07204D!important;
}

.btn-secondary {
    background-color: #DD2651!important;
    border-color: #DD2651!important;
}

.bg-dark {
    background-color: #353535!important;
}

.dropdown-menu {
    background-color: #575757!important;
}

.dropdown-menu .dropdown-item {
    color: white!important;
}

.dropdown-menu .dropdown-item:hover {
    color: grey!important;
    background-color: #575757;
}

.dropdown-menu .dropdown-item:active {
    background-color: white!important;
}

.form-control:focus{
    box-shadow: 0 0 0 .2rem rgba(7, 32, 77, .25);
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea,
select{
    background-color: #F6F6F6!important;
}


input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus
textarea:focus{
    background-color: white!important;
}

nav {
    border-bottom: 4px solid #DD2651;
}

thead {
    color: white;
}

.bg-info {
    background-color: #353535!important;
}